
 div {
   text-align: center;

 }
 a {
   color: black
 }
 button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  background-color: powderblue;
  top:50%;
  color: #FFFFFF;
  border:none;
  padding-top: 0


 }
 .topnav {
   overflow: hidden;
   background-color: powderblue;
   display: flex;
   justify-content: center;
   }
 ul {
   list-style-type: none;
   margin: 0;
   padding: 10;
   overflow:scroll;
   background-color: #powderblue;
 }
 li {
   float: left;
 }
 li a {
   display: block;
   color: black;
   text-align: center;
   padding: 20px 20px;
   text-decoration: none;
   font-family:monospace;
   font-size: 15;


 }
 li a:hover {
   background-color: #black;

 }
 li {
  border-right: 1px solid #FFFFFF;

 }

 li :last-of-type {
   border-right: none;
 }


 h1{
   font-family:monospace;
   font-size: 60

 }

 p.one{
   text-align: center;
   font-size: 40;
   font-family:monospace;
   padding-top: 150;

 }

p.two{
  text-align: center;
  font-size: 15;
  font-family:monospace;
  padding-top: 10;
  padding-left: 100;
  padding-right: 100;

}

img{ width: 500;
}


 .page {
   width: 900px;
   margin: 0 auto;
   overflow: visible;
   background-color: #FFFFFF;
 }
.menu {
  float: center;
  height: 100px;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration-color: #FFFFFF;
  overflow: visible;

}
.sidebar {
  float: left;
  height: 500px;
  background-color: #yellow;
  overflow: visible;

}

.content {
  height: 500px;
  float: center;
  background-color: #white;
  overflow: visible;

}

.footer {
  height: 200px;
  background-color: #FFFFFF;
  clear: both;
  text-align: center;
  overflow: visible;
  border-top:1px solid #888;
  border-bottom:1px solid #888;

}
